<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- Include custom CSS -->
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Initial home page</title>
</head>
<body>
    <div class="text-center mb-5">
        <h1>Welcome to Writer's Blog!</h1>
    </div>
    <!-- Container -->
    <div class="formContainer">
        <div class="text-center">
            <h3>Click here to join us as an author:</h3>
        </div>
        <!-- Author home link -->
        <a href="/author/register">
            <div class="initialPageButton">
                <h4>Author</h4>
            </div>
        </a>
        <div class="text-center">
            <h3>Click here to join us as a reader:</h3>
        </div>
        <!-- Reader home link -->
        <a href="/reader/home">
            <div class="initialPageButton">
                <h4>Reader</h4>
            </div>
        </a>
    </div>
</body>
</html>
